.container {
  display: flex;
  justify-content: center;
  width: 700px;
  margin: auto;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 50px 0;
  text-align: -webkit-center;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  border: 1px solid #cad1da;
  border-radius: 10px;
}

.cardBody {
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formGroup {
  padding: 14px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.formControl {
  padding: 3px 4;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: black;
  font-size: 18;
  margin-left: 12;
  font-family: bold;
}

.btnPrimary {
  background-color: #43c;
  font-size: 1rem;
  border: 2px solid rgb(241, 241, 245);
  border-radius: 0.5rem;
  padding: 10px;
  color: white;
  cursor: pointer;
}
